services:
   # Database PostgreSQL khusus untuk Order
  db-order:
    image: postgres:15
    container_name: db-order
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_ORDER_USER}
      POSTGRES_PASSWORD: ${DB_ORDER_PASSWORD}
      POSTGRES_DB: ${DB_ORDER_NAME}
    ports:
      - "${DB_ORDER_PORT}:5432"
    
  # Service Order (Go)
  order-service:
    build: ./order-services
    container_name: order-service
    ports:
      - "${ORDER_SERVICE_PORT}:8080"
    environment:
      - DB_HOST=db-order
      - DB_USER=${DB_ORDER_USER}
      - DB_PASSWORD=${DB_ORDER_PASSWORD}
      - DB_NAME=${DB_ORDER_NAME}
      - DB_PORT=5432
    depends_on:
      - db-order
  
  # untuk melihat isi database postgres
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-order
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com  # Email untuk login web
      PGADMIN_DEFAULT_PASSWORD: admin        # Password untuk login web
    ports:
      - "5050:80"                            # Akses di browser lewat port 5050
    depends_on:
      - db-order

  # ===== MongoDB (User DB) =====
  user-db:
    image: mongo:6
    container_name: user-db
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - user_mongo_data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ===== User Service (Express) =====
  user-service:
    build: ./user-services
    container_name: user-service
    environment:
      PORT: ${USER_PORT}
      MONGO_URI: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@user-db:27017/${MONGO_DB}?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    ports:
      - "${USER_PORT}:${USER_PORT}"
    depends_on:
      user-db:
        condition: service_healthy

  # ===== MySQL (Catalog DB) =====
  catalog-db:
    image: mysql:8.0
    container_name: catalog-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - catalog_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ===== Catalog Service (Laravel) =====
  catalog-service:
    build: ./catalog-services/app
    container_name: catalog-service
    volumes:
      - ./catalog-services/app:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: catalog-db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${CATALOG_PORT}:8000"
    depends_on:
      catalog-db:
        condition: service_healthy

volumes:
  user_mongo_data:
  catalog_mysql_data:

