services:
  # Database PostgreSQL khusus untuk Order
  db-order:
    image: postgres:15
    container_name: db-order
    environment:
      POSTGRES_USER: ${DB_ORDER_USER}
      POSTGRES_PASSWORD: ${DB_ORDER_PASSWORD}
      POSTGRES_DB: ${DB_ORDER_NAME}
    ports:
      - "${DB_ORDER_PORT}:5432"
    volumes:
      - order_postgres_data:/var/lib/postgresql/data

  # Service Order (Go)
  order-service:
    build: ./order-services
    container_name: order-service
    ports:
      - "${ORDER_SERVICE_PORT}:8080"
    environment:
      - DB_HOST=db-order
      - DB_USER=${DB_ORDER_USER}
      - DB_PASSWORD=${DB_ORDER_PASSWORD}
      - DB_NAME=${DB_ORDER_NAME}
      - DB_PORT=5432
    depends_on:
      - db-order
      - reservation-service
      - catalog-service

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-order
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "15050:80"
    depends_on:
      - db-order

  # ===== Redis (Reservation/Stock DB) =====
  db-reservation:
    image: redis:alpine
    container_name: db-reservation
    ports:
      - "6379:6379"

  # ===== Visualizer Redis (Browser) =====
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:db-reservation:6379
    ports:
      - "8081:8081"
    depends_on:
      - db-reservation

  # ===== Reservation Service (Python/FastAPI) =====
  reservation-service:
    build: ./reservation-services
    container_name: reservation-service
    ports:
      - "5002:5002"
    environment:
      - REDIS_HOST=db-reservation  # PASTIKAN SAMA DENGAN NAMA SERVICE DI ATAS
      - REDIS_PORT=6379
    depends_on:
      - db-reservation

  # ===== MongoDB (User DB) =====
  user-db:
    image: mongo:6
    container_name: user-db
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - user_mongo_data:/data/db
    ports:
      - "27017:27017"

  # ===== User Service (Express) =====
  user-service:
    build: ./user-services
    container_name: user-service
    environment:
      PORT: ${USER_PORT}
      MONGO_URI: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@user-db:27017/${MONGO_DB}?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    ports:
      - "${USER_PORT}:${USER_PORT}"
    depends_on:
      - user-db

  # 2. Mongo Express untuk User DB (MongoDB)
  mongo-express-user:
    image: mongo-express
    container_name: mongo-express-user
    restart: always
    ports:
      - "8083:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: user-db      # Konek ke container Mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_ROOT_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_ROOT_PASS}
      # Username/Password untuk login ke web Mongo Express-nya (Bebas)
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    depends_on:
      - user-db

  # ===== MySQL (Catalog DB) =====
  catalog-db:
    image: mysql:8.0
    container_name: catalog-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - catalog_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  # ===== Catalog Service (Laravel) =====
  catalog-service:
    build: ./catalog-services/app
    container_name: catalog-service
    environment:
      DB_HOST: catalog-db
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DB_CONNECTION: mysql
      DB_PORT: 3306
      DB_USERNAME: root
    ports:
      - "${CATALOG_PORT}:8000"
    depends_on:
      - catalog-db

  # 1. phpMyAdmin untuk Catalog DB (MySQL)
  phpmyadmin-catalog:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-catalog
    environment:
      PMA_HOST: catalog-db         # Konek ke container MySQL
      PMA_PORT: 3306
      # Opsional: biar tidak ngetik password terus
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD} 
    ports:
      - "8082:80"
    depends_on:
      - catalog-db

volumes:
  user_mongo_data:
  catalog_mysql_data:
  order_postgres_data: