services:
  # Database PostgreSQL khusus untuk Order
  db-order:
    image: postgres:15
    container_name: db-order
    environment:
      POSTGRES_USER: ${DB_ORDER_USER}
      POSTGRES_PASSWORD: ${DB_ORDER_PASSWORD}
      POSTGRES_DB: ${DB_ORDER_NAME}
    ports:
      - "${DB_ORDER_PORT}:5432"
    volumes:
      - order_postgres_data:/var/lib/postgresql/data

  # Service Order (Go)
  order-service:
    build: ./order-services
    container_name: order-service
    ports:
      - "${ORDER_SERVICE_PORT}:8080"
    environment:
      - DB_HOST=db-order
      - DB_USER=${DB_ORDER_USER}
      - DB_PASSWORD=${DB_ORDER_PASSWORD}
      - DB_NAME=${DB_ORDER_NAME}
      - DB_PORT=5432
    depends_on:
      - db-order
      - reservation-service
      - catalog-service

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-order
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "15050:80"
    depends_on:
      - db-order

  # ===== Redis (Reservation/Stock DB) =====
  db-reservation:
    image: redis:alpine
    container_name: db-reservation
    ports:
      - "6379:6379"

  # ===== Visualizer Redis (Browser) =====
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis-commander
    environment:
      - REDIS_HOSTS=local:db-reservation:6379
    ports:
      - "8081:8081"
    depends_on:
      - db-reservation

  # ===== Reservation Service (Python/FastAPI) =====
  reservation-service:
    build: ./reservation-services
    container_name: reservation-service
    ports:
      - "5002:5002"
    environment:
      - REDIS_HOST=db-reservation # PASTIKAN SAMA DENGAN NAMA SERVICE DI ATAS
      - REDIS_PORT=6379
    depends_on:
      - db-reservation

  # ===== MongoDB (User DB) =====
  user-db:
    image: mongo:6
    container_name: user-db
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - user_mongo_data:/data/db
    ports:
      - "27017:27017"

  # ===== User Service (Express) =====
  user-service:
    build: ./user-services
    container_name: user-service
    environment:
      PORT: ${USER_PORT}
      MONGO_URI: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@user-db:27017/${MONGO_DB}?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    ports:
      - "${USER_PORT}:${USER_PORT}"
    depends_on:
      - user-db

  # ===== MySQL (Catalog DB) =====
  catalog-db:
    image: mysql:8.0
    container_name: catalog-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - catalog_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  # ===== Catalog Service (Laravel) =====
  catalog-service:
    build: ./catalog-services/app
    container_name: catalog-service
    volumes:
      - ./catalog-services/app:/var/www
      - catalog_vendor:/var/www/vendor
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: catalog-db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${CATALOG_PORT}:8000"
    depends_on:
      - catalog-db

  mongo-express-user:
    image: mongo-express
    container_name: mongo-express-user
    restart: always
    ports:
      - "8083:8081"
    environment:
      # Menggunakan URL langsung jauh lebih ampuh daripada memisah SERVER dan PORT
      - ME_CONFIG_MONGODB_URL=mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@user-db:27017/?authSource=admin
      # Login untuk masuk ke halaman webnya
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    depends_on:
      - user-db

volumes:
  user_mongo_data:
  catalog_mysql_data:
  order_postgres_data:
  catalog_vendor:
