services:
  # ===== MongoDB (User DB) =====
  user-db:
    image: mongo:6
    container_name: user-db
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASS}
    volumes:
      - user_mongo_data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ===== User Service (Express) =====
  user-service:
    build: ./user-services
    container_name: user-service
    environment:
      PORT: ${USER_PORT}
      MONGO_URI: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASS}@user-db:27017/${MONGO_DB}?authSource=admin
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN}
    ports:
      - "${USER_PORT}:${USER_PORT}"
    depends_on:
      user-db:
        condition: service_healthy

  # ===== MySQL (Catalog DB) =====
  catalog-db:
    image: mysql:8.0
    container_name: catalog-db
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - catalog_mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ===== Catalog Service (Laravel) =====
  catalog-service:
    build: ./catalog-services/app
    container_name: catalog-service
    volumes:
      - ./catalog-services/app:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: catalog-db
      DB_PORT: 3306
      DB_DATABASE: ${MYSQL_DATABASE}
      DB_USERNAME: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${CATALOG_PORT}:8000"
    depends_on:
      catalog-db:
        condition: service_healthy

volumes:
  user_mongo_data:
  catalog_mysql_data:
